<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Details</title>
</head>
<body style="background-color:pink;">
    <form method="post" action="personaldet">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Register</button>

    </form>
<a href="/">Logout</a>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
        var branchesData = {{ form.branches_json|safe }};
        var districtSelect = document.getElementById('id_district');
        var branchSelect = document.getElementById('id_branch');

        districtSelect.addEventListener('change', function() {
            var selectedDistrict = this.value;
            branchSelect.options.length = 0; // Clear existing options
            branchSelect.options[branchSelect.options.length] = new Option('Select Branch', '');

            branchesData.forEach(function(branch) {
                if(branch.district === selectedDistrict) {
                    branchSelect.options[branchSelect.options.length] = new Option(branch.branch, branch.branch);
                }
            });
        });
    });
    </script>

</body>
</html>
